{{!-- this is the handlebars file for the main landing page upon opening the app--}}
<h<!DOCTYPE html>
<html>
<head>
        <title>Inventory Managment</title>
</head>
<body>
 <script type ="text/x-handlebars-template" id="template">
 <h1>{{title}}</h1>
 <ol>
    {{#each list}}
    <li> {{this.Employees}} </li>
    {{/each}}
 </ol>
 <p>{{footer}}</p>
 </script>
 <div id="output">

 </div>
  <ol>
    {{#each list}}
    <li> {{this.Employees}} </li>
    {{/each}}
 </ol>
 <p>{{footer}}</p>
 </script>
 <div id="output">
 <button onclick="fill_template()">
    Generate Employee Table
 </button>
  <button onclick="fill_template()">
   Items Avaialable Table
  </button>
</body>
</html>